<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title> {{ page.title }} </title>

  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="{{ site.author }}">

  <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- **Favicon** -->
  <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

  <!-- **CSS - stylesheets** -->
  <link id="default-css" href="/assets/css/style.css" rel="stylesheet" media="all" />
  <link id="shortcodes-css" href="/assets/css/shortcodes.css" rel="stylesheet" media="all" />
  <link href="/assets/css/responsive.css" rel="stylesheet" media="all" />

  <!-- **Additional - stylesheets** -->
  <link rel="stylesheet" href="/assets/css/meanmenu.css" type="text/css" media="all" />
  <link id="customscroll-css" rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.css">
  <link href="/assets/css/prettyPhoto.css" rel="stylesheet" type="text/css" media="all" />

  <!-- **Font Awesome** -->
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

  <!-- **jQuery** -->
  <link id="pagepiling-css" rel="stylesheet" type="text/css" href="/assets/css/jquery.pagepiling.css" />

  <script src="/assets/js/modernizr-2.6.2.min.js"></script>

</head>