<header id="header" class="type1 dt-sticky-menu">
                 <div id="logo">
                    <a href="index.html"> <img src="/assets/images/logo.png" alt="" title=""> </a>
                 </div>
                <div id="menu-container">
                    {% include nav.html %}
                </div>
                <div class="nav-contact">
                    <p> <i class="fa fa-phone-square"></i> <span> Contact - </span>1 (800) 567 8765</p>
                    <ul class="dt-sc-social-icons">
                        <li class="twitter"><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                        <li class="facebook"><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                        <li class="google"><a href="#"> <i class="fa fa-google"></i> </a></li>
                        <li class="dribbble"><a href="#"> <i class="fa fa-dribbble"></i> </a></li>
                    </ul>
                </div>
            </header>