<nav id="main-menu">
                        <div id="dt-menu-toggle" class="dt-menu-toggle">
                            Menu
                            <i class="fa fa-bars"></i>
                        </div>
                        <ul id="menu">
                            <li data-menuanchor="page1" class="violet"><a href="/index.html#page1" class="external">Home<span> <img src="/assets/images/home-icon.png" alt=""> </span> </a> </li>
                            <li data-menuanchor="page2" class="green"><a href="/index.html#page2" class="external">Services<span> <img src="/assets/images/service-icon.png" alt=""> </span> </a> </li>
                            <li data-menuanchor="page3" class="maroon"><a href="/index.html#page3" class="external">Portfolio<span> <img src="/assets/images/portfolio-icon.png" alt=""> </span> </a> </li>
                            <li data-menuanchor="page4" class="red"><a href="/index.html#page4" class="external">Team<span> <img src="/assets/images/about-icon.png" alt=""> </span> </a> </li>                        
                            <li data-menuanchor="page5" class="active orange"><a href="/index.html#page5" class="external">Blog<span> <img src="/assets/images/blog-icon.png" alt=""> </span> </a> </li>
                            <li data-menuanchor="page6" class="blue"><a href="/index.html#page6" class="external">Contact<span> <img src="/assets/images/contact-icon.png" alt=""> </span> </a> </li>
                        </ul>
                    </nav>