<header id="header" class="type1 dt-sticky-menu">
      <div id="logo">
        <a href="index.html"> <img src="/assets/images/logo.svg" alt="" title=""> </a>
      </div>
    <div id="menu-container">
        {% include internal-nav.html %}
    </div>
    <div class="nav-contact">
        <p> <i class="fa fa-phone-square"></i> <span> Contact - </span>1 (800) 567 8765</p>
        <ul class="dt-sc-social-icons">
            <li class="twitter"><a href="https://twitter.com/daydreamdev"> <i class="fa fa-twitter"></i> </a></li>
            <li class="facebook"><a href="https://www.facebook.com/daydreamdev"> <i class="fa fa-facebook"></i> </a></li>
            <li class="linkedin"><a href="https://www.linkedin.com/company-beta/3577912/"> <i class="fa fa-linkedin"></i> </a></li>
            <li class="github"><a href="https://github.com/DaydreamDevelopment"> <i class="fa fa-github"></i> </a></li>
        </ul>
    </div>
</header>