<div id="loader-wrapper">
    <svg viewBox="0 0 600 300">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="50%" dy=".35em">
                Loading your Daydream...
            </text>
        </symbol>
        <use xlink:href="#s-text" class="loader-text"></use>
        <use xlink:href="#s-text" class="loader-text"></use>
        <use xlink:href="#s-text" class="loader-text"></use>
        <use xlink:href="#s-text" class="loader-text"></use>
        <use xlink:href="#s-text" class="loader-text"></use>
    </svg>
</div>