---
---
@import "bourbon/bourbon";
@import "base/base";

// Preloader
.loader-text:nth-child(5n + 1) { 
  stroke: $blue; 
  -webkit-animation-delay: -1.2s; 
  animation-delay: -1.2s; 
}
.loader-text:nth-child(5n + 2) { 
  stroke: $light-gray; 
  -webkit-animation-delay: -2.4s; 
  animation-delay: -2.4s; 
}
.loader-text:nth-child(5n + 3) { 
  stroke: $dark-gray; 
  -webkit-animation-delay: -3.6s; 
  animation-delay: -3.6s; 
}
.loader-text:nth-child(5n + 4) { 
  stroke: $white; 
  -webkit-animation-delay: -4.8s; 
  animation-delay: -4.8s; 
}
.loader-text:nth-child(5n + 5) { 
  stroke: shade($blue, 20%); 
  -webkit-animation-delay: -6s; 
  animation-delay: -6s; 
}

#loader-wrapper {
  background: $black;
}

// Body
.section {
    background-image: url(/assets/images/bg.jpg);
}
  
// Home section
.caption {
  background: rgba($blue, 0.95);

  img {
    width:35%;
  }
}

// Portfolio Section
.dt-sc-portfolio .fig-overlay {
  background: rgba($blue, 0.7);
}

.dt-sc-portfolio .fig-overlay a span:hover { 
  color: rgba($blue, 0.7);
}

.dt-sc-portfolio:hover figcaption i {  
  background: rgba($blue, 0.7); 
}

.dt-sc-portfolio:hover figcaption a { color: rgba($blue,1); }

// Contact Section
.view-map {
  background: $blue;
}

// Navigation
.nav-contact p {
  background: #FFFFFF;
  color: $dark-gray;
}

#header.type1 ul li.violet {
    -webkit-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    -moz-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    box-shadow: inset 5px 0 0 0 shade($blue, 10%);
}

#header.type1 ul li.violet span, #header.type2 ul li.violet span {
  background: shade($blue, 10%);
}

#header ul li.active.violet, #header ul li.violet:hover {
  background: $blue;
}

#header.type1 ul li.green {
    -webkit-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    -moz-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    box-shadow: inset 5px 0 0 0 shade($blue, 10%);
}

#header.type1 ul li.green span, #header.type2 ul li.green span {
  background: shade($blue, 10%);
}

#header ul li.active.green, #header ul li.green:hover {
  background: $blue;
}

#header.type1 ul li.orange {
    -webkit-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    -moz-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    box-shadow: inset 5px 0 0 0 shade($blue, 10%);
}

#header.type1 ul li.orange span, #header.type2 ul li.orange span {
  background: shade($blue, 10%);
}

#header ul li.active.orange, #header ul li.orange:hover {
  background: $blue;
}

#header.type1 ul li.maroon {
    -webkit-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    -moz-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    box-shadow: inset 5px 0 0 0 shade($blue, 10%);
}

#header.type1 ul li.maroon span, #header.type2 ul li.maroon span {
  background: shade($blue, 10%);
}

#header ul li.active.maroon, #header ul li.maroon:hover {
  background: $blue;
}

#header.type1 ul li.blue {
    -webkit-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    -moz-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    box-shadow: inset 5px 0 0 0 shade($blue, 10%);
}

#header.type1 ul li.blue span, #header.type2 ul li.blue span {
  background: shade($blue, 10%);
}

#header ul li.active.blue, #header ul li.blue:hover {
  background: $blue;
}

#header.type1 ul li.red {
    -webkit-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    -moz-box-shadow: inset 5px 0 0 0 shade($blue, 10%);
    box-shadow: inset 5px 0 0 0 shade($blue, 10%);
}

#header.type1 ul li.red span, #header.type2 ul li.red span {
  background: shade($blue, 10%);
}

#header ul li.active.red, #header ul li.red:hover {
  background: $blue;
}

// Background overlay colors
.red {
  .pp-tableCell {
    background-color: rgba($light-gray, 0.95);
  }
}

.green {
  .pp-tableCell {
    background-color: rgba($light-gray, 0.95);
  }
}

.blue {
  .pp-tableCell {
    background-color: rgba($light-gray, 0.95);
  }
}

.maroon {
  .pp-tableCell {
    background-color: rgba($dark-gray, 0.95);
  }
}

.orange {
  .pp-tableCell {
    background-color: rgba($dark-gray, 0.95);
  }
}

@media only screen and (max-width: 767px) {
  .section.red {
    .content {
      background-color: rgba($light-gray, 0.95);
    }
  }
  .section.green {
    .content {
      background-color: rgba($light-gray, 0.95);
    }
  }

  .section.blue {
    .content {
      background-color: rgba($light-gray, 0.95);
    }
  }

  .section.maroon {
    .content {
      background-color: rgba($dark-gray, 0.95);
    }
  }

  .section.orange {
    .content {
      background-color: rgba($dark-gray, 0.95);
    }
  }
}